/* Page fade + slide */
.page-enter-active,
.page-leave-active {
    transition: all 0.25s ease;
}

.page-enter-from {
    opacity: 0;
    transform: translateY(10px);
}

.page-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
body {
    background-color: rgba(173, 216, 230, 0.36);
    font-family: 'Open Sans', sans-serif;
}
